/* Sidebar */
/* Tombol Toggle */
.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #2d6a4f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    left: -220px; /* sembunyi */
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 70px;
    transition: left 0.3s ease;
    z-index: 998;
}

.sidebar.show {
    left: 0; /* tampil */
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

.sidebar a i {
    margin-right: 10px;
    width: 20px; /* optional: biar semua icon rata */
    text-align: center;
}